<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rd.xpkuisdk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.CAMERA" />
    <permission android:name="android.permission.RECORD_AUDIO" />

    <application android:allowBackup="true" >
        <activity
            android:name="com.rd.xpkuisdk.SelectMediaActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="locked"
            android:theme="@style/Theme.rd.fullscreen" />
        <activity
            android:name="com.rd.xpkuisdk.VideoPreviewActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="locked"
            android:theme="@style/Theme.rd.fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rd.xpkuisdk.EditPreviewActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="locked"
            android:theme="@style/Theme.rd.fullscreen" />
        <activity
            android:name="com.rd.xpkuisdk.SVideoEditActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="locked"
            android:theme="@style/Theme.rd.fullscreen" />
        <activity
            android:name="com.rd.xpkuisdk.CropRotateMirrorActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="locked"
            android:theme="@style/Theme.rd.fullscreen" />
        <activity
            android:name="com.rd.xpkuisdk.VideoEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked"
            android:theme="@style/Theme.rd.fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.rd.xpkuisdk.CropVideoVerActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen" />
        <activity
            android:name="com.rd.xpkuisdk.SpeedPreviewActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="locked"
            android:theme="@style/Theme.rd.fullscreen" />
        <activity
            android:name="com.rd.xpkuisdk.ImageDurationActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="locked"
            android:theme="@style/Theme.rd.fullscreen" />
        <activity
            android:name="com.rd.xpkuisdk.ExtPhotoActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="locked"
            android:theme="@style/Theme.rd.fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.rd.xpkuisdk.LiveCameraActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.rd.xpkuisdk.MoreMusicActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="locked"
            android:theme="@style/Theme.rd.fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.rd.xpkuisdk.MoreThemeActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.rd.xpkuisdk.MoreTransitionActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.rd.fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.rd.xpkuisdk.SightseeingFileActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="locked"
            android:theme="@style/Theme.rd.fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.rd.xpkuisdk.TrimMediaActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="locked"
            android:theme="@style/Theme.rd.fullscreen" />
        <activity
            android:name="com.rd.xpkuisdk.SortMediaActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="locked"
            android:theme="@style/Theme.rd.fullscreen" />
        <activity
            android:name="com.rd.xpkuisdk.TransitionActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="locked"
            android:theme="@style/Theme.rd.fullscreen" />
        <activity
            android:name="com.rd.xpkuisdk.WebMusicActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="locked"
            android:theme="@style/Theme.rd.fullscreen" />
    </application>

</manifest>